/* PALETA DE CORES */
.root {
--black-coffee: #32292fff;
--independence: #575366ff;
--glaucous: #6e7dabff;
--floral-white: #fffcf2ff;
--sizzling-red: #ff2c55ff;
}

body {
    
}

.menu {
    display: flex;
    justify-content: space-between;
}

.footer {
    height: 200px;
    background-color: black;
    
}

.footer p {
    text-align: center;
    color: white;
}




